label{
    font-size: 18px;
    margin-right: 20px;
}
input{
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
}
img{
    margin: 10px;
    width: 180px;
    height: 120px;
}
.card{
    width: 200px;
    height: 230px;
    border: 1px solid #ddd;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
}
.align{
    margin-left: 10px;
}