label{
    margin-right: 20px;
}
input{
    padding: 5px;
    margin-bottom: 10px;
}
td,th{
    border: 1px solid black;
    width: 200px;
}
.align{
    margin-top: 20px;
}
.back{
    background-color: coral;
}
.font{
    color: crimson;
}